/* styles.css */

/* to remove the top and left whitespace */
* { margin:0; padding:0; }
/* just to be sure these are full screen*/
html, body { width: 100%; height: 100%; } 

#cursors {
    position:relative;
}

#cursors .cursor {
    position: absolute;
    width: 50px;
    height: 50px;
    background:url('../img/kite.png') no-repeat -4px 0;
}

/* To remove the scrollbars */
canvas { display:block; } 
canvas {
    background:url('../img/zilker.jpg')
    repeat #e4e4e4;
    overflow: hidden;
}